<nav>
    <ul>
        <li><img src="/icons/home.png" alt="На главную"><a href="/">На главную</a></li>
        <li><img src="/icons/user.png" alt=""><a href="/user/menu">Кабинет</a></li>
        <li><img src="/icons/setting.png" alt=""><a href="#">Настройки</a></li>
      <li><img src="/icons/headset.png" alt=""><a href="#">Поддержка</a></li>
    </ul></nav>