<nav>
    <ul>
        <li><i class="fa fa-home fa-2x" aria-hidden="true"></i><a href="#">На главную</a></li>
        <li><img src="http://www.pablogarciafernandez.com/images/svg/side-navigation-menu_home.svg" alt="Личная информация"><a href="#">Личная информация</a></li>
        <li><img src="http://www.pablogarciafernandez.com/images/svg/side-navigation-menu_about.svg" alt="Настройки"><a href="#">Настройки</a></li>
      <li><img src="http://www.pablogarciafernandez.com/images/svg/side-navigation-menu_contact.svg" alt="Тех - поддержка"><a href="#">Тех - поддержка</a></li>
    </ul></nav>