<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Помощник продавца</title>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" href="/icons/favicon.ico" />
</head>
<body>
    <h1>Главная страница<i class="fa fa-home" aria-hidden="true"></i></h1>
    <i class="fa fa-home fa-2x" aria-hidden="true"></i>
    <%- include('./particals/nav') %>   
    <form action="login" method="get">
        <button type="submit" class="custom-btn btn"><span>Войти</span></button>
    </form>
    <div class="footer">
         <%- include ('./particals/footer') %>
    </div>
    
</body>
</html>