<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" href="/icons/favicon.ico" />
</head>
<body>
    <%- include('./particals/nav') %>
    <section>
    <form action="login" method="post">
        <label for="email">Почта:</label>
        <input type="text" id="test1" name="email"><br>
        <label for="password">Пароль:</label>
        <input type="password" id="test2" name="password"><br>
        <button type="submit" class="custom-btn btn"><span>Вход</span></button>
    </form>
</section>   
    <div class="footer">
        <%- include ('./particals/footer') %>
   </div>
</body>